
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
.image-list{
    
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-kontainer{
 display: flex;
 height: 250px;
 width:250px
 
         
}

.image-kontainer img{
    object-fit: cover;
    flex:1 1 5rem;
max-width: 100%;
max-height: 100%;
    
}